* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

body {
  color: white;
  background: black;
  font-family: "Roboto", serif;
  padding: 2rem;
}

#Learn {
  background-color: orange;
  color: black;
  font-family: "Afacad", serif;
}

header h1 {
  font-family: "Afacad", serif;
}

nav ul {
  display: flex;
  /* border: 2px solid white; */
  justify-content: space-around;
  width: 50vw;
}

nav ul li {
  list-style-type: none;
}

nav ul li p {
  font-size: 1em;
  transition: 0.3s;
  cursor: pointer;
}

nav ul p:hover {
  color: orange;
}

header {
  margin: 0 0 6rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .hamburger>div {
  width: 50px;
  height: 3px;
  background-color: #fff;
}

header .hamburger>div:nth-child(2) {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

header .hamburger {
  display: none;
  cursor: pointer;
}

.HomeContent1 {
  /* border: 1px solid wheat; */
  height: 15rem;
  justify-self: space-between;
  padding-top: 60px;
  /* display: ; */
}

.Lectures-Overview {
  margin: 2rem 0 2rem 0;
  /* border: 1px solid white; */
  padding-top: 30px;
}

.lectures-overview-header {
  /* border: 1px solid white; */
  display: flex;
  height: 4rem;
  margin: 0 0 1rem 0;
  align-items: center;
  justify-content: space-between;
}

.lecture-text {
  font-family: "Inter", serif;
  font-weight: 4px;
  font-size: 24px;
}

.module-quiz {
  width: 10rem;
  height: 3rem;
  background-color: transparent;
  color: orange;
  font-size: 20px;
  cursor: pointer;
  border: 4px solid orange;
  border-radius: 30px;
  transition: 0.3s;
}

.templates {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  /* border: 1px solid; */
}

.template1 {
  width: 90%;
  background: rgb(38, 31, 31);
  margin: 0.5rem 0 0.5rem 0;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 1rem;
  justify-content: space-between;
  font-size: 1em;
  align-items: left;
  transition: 0.3s;
  cursor: pointer;
}

.template1 p {
  font-family: "Montserrat", serif;
  font-weight: 300;
  margin: 0.8em 0;
}

.template1:hover {
  transform: scale(1.05);
}

img {
  width: 20px;
}

.readmore {
  position: relative;
  width: 7rem;
  height: 2rem;
  background: black;
  color: white;
  font-size: 12px;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  left: 50%;
  cursor: pointer;
}

.readmore:hover {
  background-color: orange;
  color: black;
  font-weight: bold;
}

.readmore a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* mediaquery part @sisco😌 */
/* I decided to work on the media query like you asked */

@media only screen and (max-width: 1300px) {
  .templates {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .templates {
    grid-template-columns: repeat(1, 1fr);
  }

  header nav ul {
    display: none;
  }

  header .hamburger {
    display: block;
  }

  .readmore {
    left: 50%;
  }

  section.question-area {
    flex-direction: column;
  }
}

.GoBack {
  display: flex;
  justify-content: space-between;
}

.GoBack .goBackButton {
  background: none;
  color: #fff;
  border: none;
  cursor: pointer;
}

.quizButton {
  padding: 0.3em 0.5em;
  border: 1px solid orange;
  background: none;
  color: orange;
  transition: 0.3s;
  width: 150px;
  font-family: "Open Sans", serif;
  font-weight: bold;
  font-size: medium;
  border-radius: 5px;
}

.quizButton:hover {
  /* padding: .5em .8em; */
  background-color: orange;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

section.content {
  margin-top: 3em;
}

section.content .cos {
  font-family: "Montserrat", serif;
  font-weight: 300;
}

section.content h3 {
  font-family: "Montserrat", serif;
}

section.content h2 {
  margin-top: 0.3em;
  margin-bottom: 1em;
  font-family: "Afacad", serif;
}

section p {
  font-family: "Montserrat", serif;
  font-weight: 300;
}

section.content ol {
  margin-top: 3em;
}

section.content ol ul li {
  margin-top: 1em;
  list-style-type: lower-roman;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}

.pagination .prev {
  width: 30%;
  text-align: right;
  padding: 0.2em 0.5em;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination .next {
  width: 30%;
  text-align: left;
  padding: 0.2em 0.5em;
  border: 1px solid orange;
  background: none;
  color: orange;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 992px) {
  section.content {
    max-width: 70%;
  }
}

.GoBack .time span {
  color: orange;
}

section.question-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.question-area .options div {
  border: 1px solid #888;
  border-radius: 5px;
  padding: 0.5em;
  margin-top: 1em;
}

section.question-area .indicator {
  margin-top: 2em;
}

section.question-area .indicator p {
  font-size: 0.9em;
  font-family: "Montserrat", serif;
  font-weight: 300;
}

section.question-area .indicator .bottom {
  margin-top: 1em;
}

section.question-area .indicator .bottom div {
  display: flex;
  align-items: center;
  gap: 10px;
}

section.question-area .indicator .bottom div div.answered {
  width: 10px;
  height: 10px;
  background-color: lime;
  border-radius: 50%;
}

section.question-area .indicator .bottom div div.skipped {
  width: 10px;
  height: 10px;
  background-color: blue;
  border-radius: 50%;
}

section.question-area .indicator .bottom div span {
  font-size: 0.8rem;
  font-family: "Montserrat", serif;
  font-weight: 300;
}

section.question-area .answered-questions {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
}

section.question-area .answered-questions div {
  width: 35px;
  height: 35px;
  /* background-color: lime; */
  border: 1px solid #777;
  margin-top: 0.5em;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  font-size: 1.1em;
  padding-top: 0.3em;
  font-family: "Montserrat";
}

.course-code {
  font-family: "Afacad", serif;
  font-size: 48px;
  font-weight: 400;
}

.code {
  font-family: "Afacad", serif;
  font-weight: 400;
  font-size: 25px;
}

.title {
  font-family: "Afacad", serif;
  font-weight: 600;
  font-size: 40px;
}

.learn-text {
  font-weight: 600;
}

.go-back {
  background-color: black;
  color: #fff;
  border-radius: 19px;
  border: 2px solid white;
  height: 31px;
  width: 69px;
  transition: 2s;
  font-family: "Afacad", serif;
}

.go-back:hover {
  /* padding: .5em .8em; */
  background-color: orange;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* .go-back-container {
display: flex;
} */

.pic {
  width: 5px !important;
}

header.search-container {
  /* padding-bottom: 30px;
        padding-top: 400px; */
  position: relative;
  width: 300px;
  height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container img {
  position: absolute;
  width: 30px;
  padding-top: 7px;
  padding-left: 15px;
}

.search-container input[type="text"] {
  width: 100%;
  height: 1px;
  padding: 10px 10px 10px 40px;
  padding-top: 15px;
  /* Add left padding to accommodate the image */
  border-radius: 10px;
  font-size: 16px;
  background-color: #242729;
  margin-right: 170px;
}

.profile {
  padding-right: 5px;
  padding-left: 5px;
  background-color: #ff2d55;
  border-radius: 49px;
  color: Pink;
  width: 35px;
}

.profile-text {
  font-family: "Afacad", serif;
}

.course-student {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.evaluation-pic {
  width: 22px !important;
  position: relative;
  padding-left: 14px;
}

.student-btn {
  height: 30px;
  background-color: black;
  color: #ff9500;
  border: 1px solid #ff9500;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0.3em 0.5em;
  width: 340px;
  font-size: medium;
  font-family: "Open Sans", serif;
  font-weight: bold;
}

.student-btn:hover {
  padding: 0.5em 0.8em;
  background-color: #ff9500;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.course-description {
  font-family: "Open Sans", serif;
  font-size: 29px;
  font-weight: 400;
}

.main-content {
  padding-left: 30px;
}

.quiztime {
  color: #ff9500;
}

.quiztime-section {
  display: flex;
  justify-content: space-between;
}

.question {
  margin-block: 15px;
}