@media screen and (max-width: 300px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 18px;
    }
    .main-content {
        padding-left: 0px;
    }
}