html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  background-color: #000;
  color: #fff;
}
* {
  leading-trim: both;
  text-edge: cap;
}
#performance td {
  padding: 0.25rem 0.75rem;
  font-family: Afacad, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: -0.03em;
  color: #fff;
}
.unhide-table,
.unhide-history {
  display: none;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.left-0 {
  left: 0px;
}
.right-0 {
  right: 0px;
}
.top-3 {
  top: 0.75rem;
}
.z-0 {
  z-index: 0;
}
.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx-\[10px\] {
  margin-left: 10px;
  margin-right: 10px;
}
.my-\[21px\] {
  margin-top: 21px;
  margin-bottom: 21px;
}
.-mt-2\.5 {
  margin-top: -0.625rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-\[35px\] {
  margin-top: 35px;
}
.box-border {
  box-sizing: border-box;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.table {
  display: table;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.size-\[125px\] {
  width: 125px;
  height: 125px;
}
.size-\[251px\] {
  width: 251px;
  height: 251px;
}
.size-\[50px\] {
  width: 50px;
  height: 50px;
}
.w-\[calc\(100\%-20px\)\] {
  width: calc(100% - 20px);
}
.w-full {
  width: 100%;
}
.min-w-\[1272px\] {
  min-width: 1272px;
}
.max-w-\[200px\] {
  max-width: 200px;
}
.max-w-fit {
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.cursor-pointer {
  cursor: pointer;
}
.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.flex-col {
  flex-direction: column;
}
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-\[32px\] {
  gap: 32px;
}
.gap-y-4 {
  row-gap: 1rem;
}
.gap-y-\[25px\] {
  row-gap: 25px;
}
.space-y-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}
.overflow-x-auto {
  overflow-x: auto;
}
.rounded-\[12px\] {
  border-radius: 12px;
}
.rounded-\[20px\] {
  border-radius: 20px;
}
.rounded-\[4px\] {
  border-radius: 4px;
}
.rounded-full {
  border-radius: 9999px;
}
.border-\[0\.5px_white_solid\] {
  border-color: 0.5px white solid;
}
.border-\[1px_solid_white\] {
  border-color: 1px solid white;
}
.bg-\[\#1D1F21\] {
  background-color: #1D1F21;
}
.bg-\[rgb\(255\2c 173\2c 50\)\] {
  background-color: rgb(255,173,50);
}
.bg-\[rgb\(61\2c 61\2c 61\)\] {
  background-color: rgb(61,61,61);
}
.p-\[10px_20px\] {
  padding: 10px 20px;
}
.p-\[21px_15px\] {
  padding: 21px 15px;
}
.pb-4 {
  padding-bottom: 1rem;
}
.pt-\[17px\] {
  padding-top: 17px;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.font-afacad {
  font-family: Afacad, serif;
}
.font-open-sans {
  font-family: Open Sans, serif;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-\[24px\] {
  font-size: 24px;
}
.text-\[32px\] {
  font-size: 32px;
}
.text-\[48px\] {
  font-size: 48px;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.font-bold {
  font-weight: 700;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.capitalize {
  text-transform: capitalize;
}
.leading-\[32px\] {
  line-height: 32px;
}
.leading-\[35px\] {
  line-height: 35px;
}
.leading-\[44px\] {
  line-height: 44px;
}
.tracking-\[-0\.02em\] {
  letter-spacing: -0.02em;
}
.tracking-\[-0\.03em\] {
  letter-spacing: -0.03em;
}
.text-\[\#05C612\] {
  color: #05C612;
}
.text-\[\#C61805\] {
  color: #C61805;
}
.text-\[\#EFE009\] {
  color: #EFE009;
}
.text-black {
  color: #000;
}
.text-primary {
  color: #FF9500;
}
.text-white {
  color: #fff;
}
.underline {
  text-decoration-line: underline;
}
.no-underline {
  text-decoration-line: none;
}
.\[box-shadow\:0px_2px_2px_rgba\(0\2c 0\2c 0\2c 0\.2\)\] {
  box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}
.\[leading-trim\:both\] {
  leading-trim: both;
}
.\[scrollbar-width\:thin\] {
  scrollbar-width: thin;
}
.\[text-edge\:cap\] {
  text-edge: cap;
}
.\[transition\:background-color_0\.3s\2c _box-shadow_0\.3s\] {
  transition: background-color 0.3s, box-shadow 0.3s;
}
.before\:absolute::before {
  content: var(--tw-content);
  position: absolute;
}
.before\:-z-10::before {
  content: var(--tw-content);
  z-index: -10;
}
.before\:size-full::before {
  content: var(--tw-content);
  width: 100%;
  height: 100%;
}
.before\:rounded-full::before {
  content: var(--tw-content);
  border-radius: 9999px;
}
.before\:border-\[2px_solid_black\]::before {
  content: var(--tw-content);
  border-color: 2px solid black;
}
.before\:bg-black::before {
  content: var(--tw-content);
  background-color: #000;
}
.before\:opacity-30::before {
  content: var(--tw-content);
  opacity: 0.3;
}
.before\:content-\[\'\'\]::before {
  --tw-content: '';
  content: var(--tw-content);
}
.hover\:bg-\[\#e69500\]:hover {
  background-color: #e69500;
}
.hover\:\[box-shadow\:0px_4px_4px_rgba\(0\2c 0\2c 0\2c 0\.2\)\]:hover {
  box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
}
.focus\:bg-\[\#cc8400\]:focus {
  background-color: #cc8400;
}
.focus\:\[box-shadow\:0px_6px_6px_rgba\(0\2c 0\2c 0\2c 0\.2\)\]:focus {
  box-shadow: 0px 6px 6px rgba(0,0,0,0.2);
}
@media (min-width: 768px) {
  .md\:mx-10 {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  .md\:block {
    display: block;
  }
  .md\:space-x-\[15px\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(15px * var(--tw-space-x-reverse));
    margin-left: calc(15px * calc(1 - var(--tw-space-x-reverse)));
  }
}
@media (min-width: 1024px) {
  .lg\:w-auto {
    width: auto;
  }
  .lg\:flex-row {
    flex-direction: row;
  }
  .lg\:items-end {
    align-items: flex-end;
  }
  .lg\:gap-0 {
    gap: 0px;
  }
  .lg\:space-y-8 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem * var(--tw-space-y-reverse));
  }
}
@media (min-width: 1280px) {
  .xl\:grid {
    display: grid;
  }
  .xl\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .xl\:flex-row {
    flex-direction: row;
  }
  .xl\:items-center {
    align-items: center;
  }
  .xl\:gap-0 {
    gap: 0px;
  }
  .xl\:rounded-none {
    border-radius: 0px;
  }
}
